.left-side{
    /* margin: 2px; */
    /* border: 1px solid lightgray; */
    border-radius: 15px;
    
}
.right-side{
    border: 1px solid lightgray;
    width: 90%;
    margin-top: 20px;
    border-radius: 15px;
    margin-right: 0;
    box-shadow: 7px 2px 2px lightgray;

}
body{
    /* background-color: whitesmoke; */
    overflow-x: hidden;
}